<ul class=<%=customers.title%>>
	<%let i=0%>
	<% customers.map((customer)=>{ console.log(i)%>
		<li><a href='/customers/<%=i%>'><%=customer.name%></a>
			<a href="/customers/<%=i%>/edit">Edit</a>
		</li>
	<% i++ }); %>
</ul>
