html
	head
	title My Shop
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	body
		h1 My Shop
		block content
		div(style="padding-top: 10px")
			a(href='javascript:history.back()') Go Back
		div(style="padding-top: 10px")
			a(href='/') Main Menu
	footer
		div
			h5 Made by Christopher Conley
	script
		include ../scripts.js