html
	head
	title My Shop
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	body
		h1 My Shop
		block content
		div
			a(href='javascript:history.back()') Go Back
	footer
		div
			h5 Made by Christopher Conley