extends ../views/_common_layout
block content
	fieldset
		legend Customer Specifics
		div
			ul
				each item, indexs in entries
					li 
						label #{indexs}: #{item}

	fieldset
		legend List of Actions
		div
			h3
				a(href='/customers/add/customers') Add New Customers
		div
			button(onclick=`deleteCustomer(${index})` type='button') Delete Customer