extends ../views/_common_layout
block content
	fieldset
		legend Product Specifics
		div
			ul
				each item, indexs in entries
					li 
						label #{indexs}: #{item}

	fieldset
		legend List of Actions
		div
			h3
				a(href='/products/add/products') Add New Product
		div
			h3
				a(href=`/products/update/${index}`) Update Product
		div
			button(onclick=`deleteProduct2(${index})` type='button') Delete Product