extends ../views/_common_layout
block content
	h1
		Basic Main Menu
	div(style="padding-top: 10px")
		a(href='customers/') Link to Customers
	div(style="padding-top: 10px")
		a(href='products/') Link to Products
	div(style="padding-top: 10px")