<!DOCTYPE html>
<html>
<head>
	<title>Edit</title>
	<!-- <link rel="stylesheet" type="text/css" href="../../style.css" /> -->
</head>
<body>
	<%- include('./partials/form.ejs', {action, formTitles}) -%>
</body>
</html>