<!DOCTYPE html>
<html>
<head>
	<title>Create A New Customer</title>
	<!-- <link rel="stylesheet" type="text/css" href="../style.css" /> -->
</head>
<body>
	<%- include('./partials/form.ejs') -%>
</body>
</html>