<!DOCTYPE html>
<html>
<head>
	<title><%=item.name%></title>
	<link rel="stylesheet" type="text/css" href="../../style.css" />
	<link rel="shortcut icon" type="image/png" href="../../images/favicon.ico"/>
</head>
<body>
	<%for(let attribute in item){%>
		<p><%=attribute%>: <%=item[attribute]%></p>
		<%}%>
		<%- include('./partials/routing.ejs') -%>
</body>
</html>