body {
	text-align: center;
	background-color: #d3d3d3;
	font-family: sans-serif;
	font-size: 20px;
}
ul {
	list-style-type: none;
}
a {
	padding: 10px;
	text-decoration: none;
	color: black;
}
li {
	padding: 10px;
}
.link {
	font-weight: bold;
	color: blue;
	text-decoration: underline;
}
